/* ---------- Footer ---------- */
footer {

  .footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #121212;
    background: var(--bg-2);

    li {
      position: relative;
      padding-inline: 15rem;
      margin-block: 12rem;

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
      }

      &:nth-last-child(1) {
        &::after {
          height: 0;
        }
      }

      a {
        display: block;
        color: #fff;
        font-size: 14px;
        transition: color .2s;
        border-bottom: 1px solid #ffffff00;
      }
    }


    a:hover {
      border-bottom: 1px solid #fff;
    }
  }

  .footer-bottom {
    padding-block: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    font-size: 13px;
    background-color: #121212;

    a {
      border-bottom: 1px solid #ffffff00;
      position: relative;

      &:hover {
        border-bottom: 1px solid #fff;
      }

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #969696;
        position: absolute;
        top: 0;
        right: -15rem;
      }

      &:nth-last-child(1) {
        &::after {
          display: none;
        }
      }
    }
  }

  .foot-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding-bottom: 20rem;

    ul {
      display: flex;
      gap: 10rem;
      margin-block: 20rem;

      li {
        width: 50rem;
      }
    }

    span {
      font-size: 12rem;
    }
  }
}