/* ---------- Footer ---------- */
footer {

  .footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #121212;
    background: var(--bg-2);
    @include sp {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    li {
      position: relative;
      padding-inline: 15px;
      margin-block: 12px;
      list-style: none;

      @include pc {
        padding-inline: 15rem;
        margin-block: 12rem;
      }
      @include sp {
        width: 50%;
        border-right: 1px solid #454545;
        border-bottom: 1px solid #454545;
        margin-block: 0;
        padding-block: 6rem;
      }

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        @include sp {
          display: none;
        }
      }

      &:nth-last-child(1) {
        &::after {
          height: 0;
        }
      }

      a {
        display: block;
        color: #fff;
        font-size: 14px;
        transition: color .2s;
        border-bottom: 1px solid #ffffff00;

        @include pc {
          font-size: 14rem;
        }
        @include sp {
          font-size: 12rem;
          text-align: center;
        }
      }
    }


    a:hover {
      border-bottom: 1px solid #fff;
    }
  }

  .footer-bottom {
    padding-block: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    font-size: 13px;
    background-color: #121212;
    
    @include pc {
      padding-block: 12px;
      font-size: 13rem;
      gap: 30rem;
    }
    @include sp {
      padding-block: 12rem;
      font-size: 12rem;
      gap: 10rem;
    }

    a {
      border-bottom: 1px solid #ffffff00;
      position: relative;

      &:hover {
        border-bottom: 1px solid #fff;
      }

      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #969696;
        position: absolute;
        top: 0;
        right: -15px;
        @include pc {
          right: -15rem;
        }
        @include sp {
          display: none;
        }
      }

      &:nth-last-child(1) {
        &::after {
          display: none;
        }
      }
    }
  }

  .foot-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding-bottom: 20px;
    @include pc {
      padding-bottom: 20rem;
    }

    ul {
      display: flex;
      gap: 10px;
      margin-block: 20px;
      @include pc {
        gap: 10rem;
        margin-block: 20rem;
      }
      @include sp {
        flex-wrap: wrap;
        gap: 5rem;
        margin-block: 10rem;
      }

      li {
        width: 50px;
        @include pc {
          width: 50rem;
        }
        @include sp {
          width: 40rem;
        }
      }
    }

    span {
      font-size: 12px;
      @include pc {
        font-size: 12rem;
      }
      @include sp {
        font-size: 10rem;
      }
    }
  }
}